@media only screen and (max-width: 660px){

*{
  box-sizing: border-box;
}

body{
  background: #F26547;
}

#title{
  font-size: 150%;
  color: blue;
  font-family: Lobster Two,monospace;
}

#content{
  float:right;
  padding-bottom: 10%;
  padding-right: 10%;
}

#out{
  width:100%;
  padding-bottom: 50%;
  font-family: Quattrocento Sans, monospace;
  font-size: 75%;
  border-radius: 3%;
  border: 1px solid black;
}

.control-element{
  font-family: sans-serif;
  font-size: 100%;
}

.inp{
  margin-top: 2.5%;
  width:85%;
  padding-bottom: 2%;
  border-radius: 5%;
  font-size: 85%;
}

.inp2{
  margin-top: 2.5%;
  width: auto;
}

#sub{
  border-radius: 5%;
  background-color: #ee7035;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 120%;
  padding: 4%;
  width: 75%;
  cursor: pointer;
}

}


@media only screen and (min-width: 660px){


  *{
    box-sizing: border-box;
  }

  body{
    background: #F26547;
  }

  #title{
    font-size: 250%;
    color: blue;
    font-family: Lobster Two,monospace;
  }

  #content{
    float:right;
    padding-bottom: 10%;
    padding-right: 10%;
  }

  #out{
    float: left;
    width:50%;
    padding-bottom: 30%;
    padding-left: 0.5%;
    margin-left: 2%;
    font-family: Quattrocento Sans, monospace;
    font-size: 100%;
    border-radius: 1%;
    background-color: #ABC8D1;
  }

  .control-element{
    font-family: sans-serif;
    font-size: 120%;
  }

  .inp{
    margin-top: 2.5%;
    width:120%;
    padding-bottom: 3.5%;
    padding-top: 3.5%;
    padding-left: 2%;
    border-radius: 5%;
    font-size: 95%;
  }

  .inp2{
    margin-top: 2.5%;
    width: auto;
  }

  #radio{
    font-size: 125%;
  }

  #sub{
    border-radius: 5%;
    background-color: #ee7035;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 120%;
    padding: 4%;
    width: 75%;
    cursor: pointer;
  }


}
